html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: #f4f6fc;
}

$border-color: #2e384d;

* {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

// start

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.sign {
    box-shadow: 0 0 100px 3px rgba(172, 172, 172, 0.12);
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 649px;
    width: 1160px;
    transform: translate(-50%, -50%);
    margin: auto;
    display: flex;
    .left {
        width: 60rem;
        background-color: #F9FAFF;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 90%;
            // z-index: 122;
        }
    }
    .right {
        width: 560px;
        position: relative;
        .exit {
            position: absolute;
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 3em;
            top: 3em;
            height: 3em;
            width: 3em;
            background-color: #f4f6fc;

            text-align: center;
            border-radius: 50%;
        }
    }
    .right form {
        padding: 7em 13em;
        h1 {
            font-size: 3.5rem;
            font-weight: lighter;
        }
        .person {
            margin-top: 2em;
            display: flex;
            a {
                font-size: 1.6rem;
                color: #707070;
                margin-right: 1em;
                padding-right: 1em;
                padding-bottom: 0.5em;
                border-bottom: 2px solid #e0e7ff;
            }
            a:last-child {
                border-bottom: 2px solid #2e5bff;
                color: #2e384d;
            }
            a:hover {
                border-bottom: 2px solid #2e5bff;
            }
        }
        .email,
        .password,
        .phone,
        .card {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
        }
        .email {
            label {
                color: #8c98a9;
                font-size: 1.5rem;
            }
            input {
                margin-top: 0.5rem;
                border: 1px solid #e0e7ff;
                border-radius: 5px;
                padding: 0.7em;
                background-color: #e0e7ff63;
                font-size: 1.5rem;
                color: #2e384d;
            }
        }
        .password {
            label {
                color: #8c98a9;
                font-size: 1.5rem;
            }
            position: relative;
            input {
                margin-top: 0.5rem;
                border: 1px solid #e0e7ff;
                border-radius: 5px;
                padding: 0.7em;
                font-size: 1.5rem;
                background-color: #e0e7ff63;
                color: #2e384d;
                padding-right: 2.4em;
            }
            .iye {
                position: absolute;
                top: 50%;
                vertical-align: middle;
                right: 5px;
            }
        }
        .phone {
            p {
                color: #8c98a9;
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }
            input {
                border: 1px solid #e0e7ff;
                border-radius: 5px;
                padding: 0.7em 0.7em 0.7em 4em;
                font-size: 1.5rem;
                width: 100%;
                background-color: #e0e7ff63;
                color: #2e384d;
            }
        }
        .card {
            label {
                color: #8c98a9;
                font-size: 1.5rem;
            }
            > div {
                border: 1px solid #e0e7ff;
                border-radius: 5px;
                margin-top: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #e0e7ff63;
                margin-top: 0.5rem;
                img{
                    width: 40px;
                }
                span{
                    display: flex;
                    align-items: center;
                    
                    align-self: stretch;
                }
                input
                {
                    text-align: center;
                    padding: 0.7em 0;
                    font-size: 1.5rem;
                    background-color: #e0e7ff63;
                    color: #2e384d;
                    width: 20%;
                    border: none;
                    outline: none;
                    border-right: 1px solid #2e384d2c;
                }
                input:last-child{
                    border: none;
                }
            }
        }

        input[type=submit]{
            margin-top: 2em;
            display: inline-block;
            width: 100%;
            background-color: #2e5bff;
            color: #fff;
            // padding: 1em;
            border: none;
            outline: none;
            border-radius: 8px;
            height: 3.6em;
            font-size: 1.7rem;
            letter-spacing: 2px;
            cursor: pointer;
        }
        .sign__in{
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 1.4rem;
            line-height: 3em;
            color: #8C98A9;
            a{
                color: #2e5bff;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 600px){

    .sign{
        height: 100vh;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        .left{
            height: 100%;
            width: 100%;
            img{
                margin-top: 10em;
                padding-top: 5em;
            }
        }
        .right{
            width: 100%;
            form{
                background-color: #fff;
                padding: 3em;
            }
        }
    }
}
